.hea3 {
    padding-top: 50px;
}

.pt20 {
    padding-top: 20px;
}

table.tbs {
    table-layout: fixed;
    width: 800px;
}

table.tbs1 {
    table-layout: fixed;
    width: 600;
}

table.tbs td.tds40 {
    width: 40px;
}

table.tbs td.tds40c {
    width: 40px;
    text-align: left;
}

table.tbs td.tds95 {
    width: 95px;
}

table.tbs th.ths40 {
    width: 40px;
    text-align: left;
    font-weight: bolder;
}

table.tbs th.ths95 {
    width: 95px;
    text-align: left;
    font-weight: bolder;
}

