<div>
    <table class="tbs">
        <tr>
            <th class="ths40">Warehouse</th>
            <th class="ths40">Category</th>
            <th class="ths95">Product Description</th>
            <th class="ths40">Quantity</th>
        </tr>
        <ng-container *ngFor="let product of inventory$ | async">
            <tr *ngIf="product.warehouseId == 1">
                <td classs="tds40">{{ product.warehouseName }}</td>
                <td classs="tds40">{{ product.productCategoryName }}</td>                    
                <td classs="tds95">{{ product.productName }}</td>
                <td classs="tds40c">{{ product.productCount }}</td>
            </tr>
        </ng-container>
    </table>
</div>

<div class="pt20">
    <select [(ngModel)]="productToupdate">
        <option *ngFor="let product of products" [value]="product" >
            {{product}}
        </option>
    </select> 

    <input type="text" [(ngModel)]="newProductQty">
    
    <button class="btn btn-primary" (click)="updateInventory()">
        Refresh Inventory
    </button>
</div>

<div *ngIf="categoryTotals.length>0" class="hea3">
    <span style="font-weight: bolder;">Category totals for all warehouses</span>
    <table class="tbs1">
        <tr>
            <th class="ths95">Category</th>
            <th class="ths95">Product</th>
            <th class="ths40">Total</th>
        </tr>
        <tr *ngFor="let category of categoryTotals">
            <td classs="tds95">{{ category.categoryName}}</td>
            <td classs="tds95">{{ category.productName }}</td>                    
            <td classs="tds40c">{{ category.total }}</td>
        </tr>            
    </table>
</div>
